# Example configuration for .env variables.
#
# To use on your development environment,
# copy this file as .env and modify at your will.
# The gem dotenv-rails will pick up your .env file
# and expose the variables to rails.
#
# Your local .env file is added to .gitignore and
# wont be uploaded to the repo.


# database setup:
DATABASE_ADAPTER=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost

# host part of the url for mail links:
MAIL_LINK_HOST=localhost:3000

# a list of emails for superadmin users
ADMINS="admin@timeoverflow.org"
