# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore compiled assets and node_modules
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets
/node_modules

# Ignore ENV files
.env
