<header class="page-header">
  <h1>
    <%= @document.title %>
  </h1>
</header>

<%= m @document.content %>

<%= form_tag accept_terms_path, method: :post do %>
  <button class="btn" type="submit">
    <%= t '.accept' %>
  </button>
<% end %>
