<header class="pb-2 mb-5 mt-4 border-bottom">
  <h1 class="display-4"><%= @document.title %></h1>
</header>

<%= m @document.content %>

<%= button_to t('.accept'), accept_terms_path, class: "btn btn-primary" %>
