<div class="content">
  <h2><%= t("application.landing.slogan") %></h2>
  <h3><%= t("application.landing.sub_slogan") %></h3>
  <a href="/login" class="btn btn-info" role="button"><%= t("application.landing.button") %></a>
</div>