/* Mega Menu
----------------------------------------------------------------------------------------------------*/

.mega_menu {
  top:100%;
  left:0;
  position: absolute;
  /*  display: none; */
  color: #666;
  margin:0px -1px;
  padding-top:10px;
  z-index: 200;
  width: 100%;
  border: 1px solid #666;
  border-radius: 3px;
  background-color:#fff;
  z-index: 30;
  .nav_up & {
    top:auto;
    bottom:100%;
  }
  div {
    margin: 0 10px;
  }
  .alpha {
    margin-left: 0px;
    margin-right: 9px;
  }
  .omega {
    margin-right: 0px;
  }
  li:hover & {
    display: block;
  }
}
li.has_mega_menu {
  position: static !important;
  a {
    position: relative;
    padding-right: 22px !important;
    span.icon {
    }
  }
}
