<div class="modal-header">
  <h4 class="modal-title">
    <%= @document.title %>
  </h4>
  <button aria-hiden="true" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
  <%= m @document.content %>
</div>
