<div class="modal-header">
  <button aria-hiden="true" class="close" data-dismiss="modal" type="button">&times;</button>
  <h4 class="modal-title">
    <%= @document.title %>
  </h4>
</div>
<div class="modal-body">
  <%= m @document.content %>
</div>
