<div class="modal-header">
  <button aria-hiden="true" class="close" data-dismiss="modal" type="button">&times;</button>
  <h4 class="modal-title">
    <%= @document.title %>
  </h4>
</div>
<div class="modal-body">
  <%# TODO: create a helper 'm' like 'j', so this is just <%= m @document.content %>
  <%= RDiscount.new(@document.content).to_html.html_safe %>
</div>
