.tag_list.container_fluid
  - alpha_tags.each_slice(6) do |gr|
    .row
      - gr.each do |k,v|
        .col-xs-2.col-md-2
          %h2.bg-info.text-center
            =k
          - v.each do |tag,count|
            %p
              .badge
                ="#{count}"
              - path = posts_with_tags_path(tagname: tag)
              = link_to path, {remote: true, format: :js}  do
                - gtag=(count==1) ? "tag" : "tags"
                = glyph(gtag)
                = tag
