%h1 Alpha Group Tags#index


.container_fluid
  - @alpha_tags.each_slice(3) do |gr|
    .row
      = gr.each do |k,v|
        .col-xs-6.col-md-4
          %h5
          = k
          = v
          %span.glyphicon.glyphicon-tag
