%h1
  =t(".maintitle")


.container_fluid
  - @alpha_tags.each_slice(6) do |gr|
    .row
      - gr.each do |k,v|
        .col-xs-3.col-md-2
          %h2.bg-info.text-center
            =k
          - v.each do |l,a|
            %p
              =l
              %span.glyphicon.glyphicon-tag
              =" (#{a})"
