= render partial: "tag_type_selector", locals: { maintitle: t(".maintitle"), switch_offer: "switch_offer", switch_inquiry: "switch_inquiry" }

.tag_management
  .alpha_tag_list.col-xs-12
    = render partial: "grouped_index", locals: { alpha_tags: @alpha_tags }
