<div class='text-center errors'>
  <h1>Internal server error</h1>
  <h3>
    We're sorry, there seems to be an error with this request.
    A notification has automatically been sent to us, and we will resolve this as soon as possible.
  </h3>
  <p><%= link_to 'Home', root_path, class: 'btn btn-default' %></p>
</div>