<div class='text-center errors'>
  <h1>Not found</h1>
  <h3>
    The page you were looking for doesn't exist.
    You may have mistyped the address or the page may have moved.
  </h3>
  <p><%= link_to 'Home', root_path, class: 'btn btn-default' %></p>
</div>