<div class="dropup language-selector">
  <a class="btn btn-secondary dropdown-toggle language" type="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-expanded="false">
    <span><%= t("locales.#{locale}") %></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
    <% I18n.available_locales.each do |locale| %>
      <% if I18n.locale != locale %>
        <li>
          <%= link_to t("locales.#{locale}", locale: locale), switch_lang_path(locale: locale), class: 'dropdown-item' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>