<li class="dropdown">
  <a class="dropdown-toggle language" href="#">
    <%= t("locales.#{locale}") %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu">
    <% I18n.available_locales.each do |locale| %>
      <li class="<%= "disabled" if I18n.locale == locale %>">
        <%= link_to locale_menu_item(locale), switch_lang_path(locale: locale) %>
      </li>
    <% end %>
  </ul>
</li>
