<li class="<%= "active" if current_page?(alpha_grouped_index_tags_path(post_type: "offer")) %>">
  <%= link_to alpha_grouped_index_tags_path(post_type: "offer") do %>
    <%= glyph :tags %>
    <%= t ".tags" %>
  <% end %>
</li>
