<li class="disabled">
  <a href="#"><%= current_organization.name %></a>
</li>
<% (current_user.organizations - [current_organization]).each do |org| %>
  <li>
    <%= link_to set_current_organization_path(org), method: :post do %>
      <%= glyph(:retweet) %>
      <%= org.name %>
    <% end %>
  </li>
<% end %>
