<li class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <%= image_tag select_avatar(current_user), style: "margin: -8px auto" %>
    <%= current_user.email %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu">
    <%= render 'application/menus/user_admin_menu_items' %>
  </ul>
</li>
