<li class="dropdown nav-item">
  <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
    <%= image_tag avatar_url(current_user), style: "margin: -8px auto" %>
    <%= current_user.email %>
  </a>
  <ul class="dropdown-menu" role="menu">
    <%= render 'application/menus/user_admin_menu_items' %>
  </ul>
</li>
