<li class="nav-item"><%= link_to t("layouts.application.login"), new_user_session_path, class: 'nav-link' %></li>
<li class="nav-item"><%= link_to t("layouts.application.about"), page_path("about"), class: 'nav-link' %></li>
<li class="nav-item"><%= link_to t("layouts.application.bdtnear"), organizations_path, class: 'nav-link' %></li>
