%ul

  - @offers.each do |offer|
    %li.post.offer
      %h5
        = link_to offer.title, offer
        %small
          %span.glyphicon.glyphicon-folder-open
          = offer.category
          - offer.tags.each do |tag|
            %span.glyphicon.glyphicon-tag
            = tag
      %p= offer.description

