%h1
  = @offer.title
  %small
    = t ".edit"

= render partial: 'shared/post_form', locals: { post: @offer, label_button: t(".submit") }

:javascript
  $("#offer_tag_list").tagsManager({
    prefilled: '#{escape_javascript(@offer.tag_list)}'
  });
