<% if @offer.organization == current_organization %>
<div class="row">
  <p class="col-xs-12 actions text-right">
    <% if admin? or @offer.user == current_user %>
      <%= render 'shared/post_actions', post: @offer %>
    <% end %>
    <% if current_user and @offer.user != current_user %>
      <%= link_to new_transfer_path(id: @offer.user.id, offer: @offer.id, destination_account_id: @destination_account.id),
                  class: "mdc-time mdc-button mdc-button--raised" do %>        
        <%= t ".give_time_for" %>
      <% end %>
    <% end %>
  </p>
</div>  
<% end %>
<%= render "shared/post", post: @offer %>
