<div class="form-group">
  <%= form.label :source %>
  <%= form.select :source,
    options_for_select(
      TransferSourcesOptions.new(sources).to_a,
      selected: current_user.member(current_organization).account.id
    ), {}, id: "select2", class: "form-control"
  %>
</div>
