// New palette
$palette-turkey: #2797af;
$palette-dark-turkey: #165e6d;
$palette-light-blue: #d9edf7;
$palette-grey: #aaa;
$palette-black: #333;

// Old colors
$bg-color: #f5f8fa;
$white: #ffffff;
$border: #e1e8ed;
$menu-disabled: #ddd;
$black: #000;
$form-input-glyph: #555;
$form-input-bg-color: #f5f5f5;
$form-input-button: #2a292a;
$form-input-button-hover: #3a393a;
$form-a-color: gray;
$form-a-hover-color: $palette-black;
$form-login-gray-text: #9b9b9b;
$btn-landing: rgba(255, 255, 255, 0.7);
$btn-landing-hover: rgba(255, 255, 255, 0.9);
$pages-title: #4a4a4a;
$pages-text: #4a4a4a;
$pages-anchor: #4a4a4a;
$pages-anchor-hover: #8a8a8a;
$features-background: #f5f5f5;
$features-separator: #d8d8d8;