$primary-color: #165e6d;
$link-color: $primary-color;
$table-stripe-color: #f5f5f5;

@import "active_admin/mixins";
@import "active_admin/base";
@import "select2";
@import "bootstrap";
@import "bootstrap/variables";

.global_stats_panel div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
  font-size: 18px;

  b {
    font-size: 20px;
  }
}
