/*
 *= require_self
 */

$bg-color: #f5f8fa;
$navs-bg-color: #1e1e1e;
$white: #ffffff;
$border: #e1e8ed;
$navs-hover-color: #aaa;
$menu-drop: #333;
$menu-drop-hover: #333;
$menu-disabled: #ddd;
$black: #000;
$form-input-glyph: #555;
$form-input-bg-color: #f5f5f5;
$form-input-button: #2a292a;
$form-input-button-hover: #3a393a;
$form-a-color: gray;
$form-a-hover-color: #333;
$form-login-gray-text: #9b9b9b;
$btn-landing: rgba(255, 255, 255, 0.7);
$btn-landing-hover: rgba(255, 255, 255, 0.9);
$pages-title: #4a4a4a;
$pages-text: #4a4a4a;
$pages-anchor: #4a4a4a;
$pages-anchor-hover: #8a8a8a;
$features-background: #f5f5f5;
$features-separator: #d8d8d8;

[ng-cloak],
.ng-cloak {
  visibility: hidden !important;
}

html {
  font-size:62.5%;
}

.content
{
  min-height:500px;
  margin-bottom: 40px;
}

.language-selector{
  margin: 1.2rem 3rem 1.2rem 1rem;
}

.language-selector a span {
  display: block;
  float: left;
}

.actions-menu > .dropdown > .language b {
  display: inline-block;
  margin-left: 0.7rem;
}

.actions-menu > li > a {
  color: #101010;
}

.actions-menu > li{
  margin-right:5px;
}

#login-box {
  border-radius: 0.3rem;

  form {
    border: 0;
    border-radius: 0.3rem;
    margin: 0;
    padding: 1rem 3rem 1.4rem 3rem;
  }

  form .material-icons {
    color: $form-input-glyph;
  }

  input {
    background-color: $form-input-bg-color;
    border-radius: 0.3rem;
  }

  input[type="checkbox"] {
    border: 0;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $form-input-bg-color inset;
    transition: background-color 100000s ease-in-out 0s;
  }

  span.input-group-addon {
    padding: 2rem 2rem 2rem 3rem;
  }

  span.show-password {
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $form-input-glyph;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $form-input-glyph;
  }

  ::-ms-input-placeholder { /* IE 10+ */
    color: $form-input-glyph;
  }

  ::-moz-placeholder { /* Firefox 18- */
    color: $form-input-glyph;
  }

  .panel-heading {
    color: darken($black, 5%);
    text-align: center;
  }

  .panel-body {
    padding: 0;
  }

  .panel-footer {
    padding: 2rem 3rem;

    a {
      color: $form-a-color;
    }

    a:hover {
      color: $form-a-hover-color;
      text-decoration: none;
    }
  }

  .input-group-addon {
    border-radius: 0.3rem 0 0 0.3rem;
  }

  .input-lg, #user_email {
    border-radius: 0 0.3rem 0.3rem 0;
  }

  #user_password {
    border-radius: 0;
  }

  .input-group-addon, .input-lg {
    background-color: $form-input-bg-color;
    border: 0;
    box-shadow: none;
    color: $form-input-glyph;
    font-size: 2.24rem;
    letter-spacing: -0.0040rem;
    padding: 2rem;
  }

  .form-control {
    border: 0;
    font-weight: 400;
    height: 7.5rem;
  }
  
  .form-control:focus {
    border-color: none;
    box-shadow: none;
    outline: 0;
    -webkit-box-shadow: none;
   }

  .radio label, .checkbox label {
    padding: 0;
  }

  .btn {
    background-color: $form-input-button;
    font-size: 2.24rem;
    font-weight: 400;
    letter-spacing: -0.040rem;
    margin-top: 1rem;
    padding: 2rem;
  }

  .btn:hover {
    background-color: $form-input-button-hover;
  }
}

.post {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 20px;

  h4 {
    font-weight: bold;
    display: block;
  }

  .glyphicon-folder-open {
    font-size: 140%;
    margin: 0 5px;
  }

  .category {
    font-weight: bold;
    margin-right: 10px;
  }

}

.break-word {
  word-wrap: break-word;
}

.post-description img {
  float: left;
  max-width: 60%;
}

#new_transfer {
  padding: 20px;
}

.footer {
  bottom: 0;
  left: 0;
  line-height: 40px;
  padding: 0;
  position: absolute;
  vertical-align: middle;
  width: 100%;

  p {
    font-size: 1.6rem;
    letter-spacing: 0.013rem;
    margin: 0;
    text-align: center;
  }

  .row {
    margin: 0;
  }

  a {
    color: $pages-anchor;
    font-weight: 500;
    margin-left: 1.5rem;
  }

  a:hover {
    color: $pages-anchor-hover;
  }
}

.row.exports {
  padding: 10px;
}

table.users {
  padding: 10px;
}

@media screen {

  html {
    min-height: 100%;
    position: relative;
  }

  body {
    background-color: $bg-color;
    font-family: 'Work Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    margin: 0 0 20px;
  }

  form {
    background: $white;
    border: 1px solid $border;
    border-collapse: inherit;
    border-radius: 0.3rem;
    margin-bottom:20px;
    padding: 20px;
  }

  table.users tr:nth-of-type(2) th {
    border-top:0;
  }

  .user-profile {
    h1 {
      margin-bottom: 20px;
      margin-top: 0;
    }

    img {
      max-width: 100%;
    }
  }

}

@media print {

  body {
    padding-top: 0px;
  }

  .table {
    border-collapse: collapse;
  }

}


.error {
  color: red;
}

// statistics view
ul.statistics li{
  padding-right: 10px;
  padding-bottom: 10px;
}

#chart{
  clear: both;
}

.pagination {
  width: 100%;
  text-align: center;
}
.more {
  display: block;
  margin: 10px auto;
  width: 100px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

// if not navbar hidden datepicker in small windows
.ui-datepicker{
  z-index: 1000 !important;
}

// fields that contain an error
.field_with_errors{
  color: red;
}

label[required]::after{
  content: " *";
}

// paginator
.paginate-align {
  display: table;
  margin: 0 auto;
}

.navbar-form {
  padding: 0;
  background-color: transparent;
}

form .checkbox input[type="checkbox"] {
  margin-left: 5px;
  position: relative;
}

.back-overlay {
  background-color: $black;
  background-size: cover;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.navbar-block{
  margin-top: 0.2rem;
}

.navbar-nav > li > a {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.013rem;
  margin: 1.4rem 2rem;
  padding: 0;
}

.navbar-static-top {
  background-color: $navs-bg-color;
}

.navbar-inverse {
  border: 0;
}

.navbar-inverse .navbar-brand {
  color: $white;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
}

.navbar-inverse .navbar-brand a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: $navs-hover-color;
}

.navbar-brand {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}

.language-selector{
  margin: 0.5rem 2rem 0 2rem;
  width: 13.5rem;
}

.dropdown{
  &.dropdown-language-selector{
    .dropdown-toggle{
      background: none;
      border: 0.2rem solid $white;
      border-radius: 0.3rem;
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;
      min-width: 13.5rem;
      text-align: left;

      .caret{
        display: block;
        float: right;
        margin-top: 1.1rem;
      }
      &:focus,
      &:active{
        box-shadow: none;
        outline: none;
      }
    }
    &.open>.btn-default.dropdown-toggle{
      background: none;
      border-color: $white;
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      color: $white;

      .caret{
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .dropdown-menu{
      background: $navs-bg-color;
      border: 0.2rem solid $white;
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: none;
      margin-top: 0;
      min-width: 13.5rem;
      li{
        a{
          color: $white;
          font-size: 1.6rem;
          font-weight: 500;
          padding: 0.6rem 1.2rem;
          &:hover{
            background: $menu-drop-hover;
            opacity: 0.8;
          }
          &:focus,
          &:active{
            background: none;
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
}

.landing-page, .login-page, .pages, .unlocks-page, .confirmations-page, .passwords-page {
  background: image-url('home_back.jpg') no-repeat center center fixed;
  background-size: cover;

  .back-overlay {
    display: block;
    filter: alpha(opacity = 60); /* For IE8 and earlier */
    opacity: 0.6;
  }
  .vertical-align {
    left: 50%;
    position: absolute;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .container-fluid {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }

  .container-inner {
    margin-bottom: 14rem;
  }
}

.landing-page, .login-page, .unlocks-page, .confirmations-page, .passwords-page {
  a {
    color: $white;
  }

  a:hover {
    color: $white;
  }
}

.landing-page {
  background: image-url('home_back.jpg') no-repeat center center fixed;
  background-color: $navs-bg-color;
  background-size: cover;
  text-align: center;

  .back-overlay {
    filter: alpha(opacity = 15); /* For IE8 and earlier */
    opacity: 0.15;
  }
}

.landing-page .content, .pages .banner {
  h2 {
    color: $white;
    font-size: 5.76rem;
    font-weight: 700;
    letter-spacing: -0.073rem;
    margin: 0;
  }

  h3 {
    color: $white;
    font-size: 2.88rem;
    font-weight: 500;
    letter-spacing: -0.107rem;
    margin-top: 1rem;
  }

  .btn {
    font-size: 2.88rem;
    font-weight: 500;
    letter-spacing: 0.023rem;
    margin-top: 4rem;
    padding: 1.5rem 6.2rem;
  }

  .btn-info {
    background: $btn-landing;
    border: 0;
    color: $black;
  }

  .btn-info:hover {
    background: $btn-landing-hover;
  }
}

.login-page {
  h1 {
    font-size: 3.84rem;
    font-weight: 600;
    letter-spacing: 0.031rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .material-icons {
    font-size: 3rem;
  }
  
  .checkbox {
    color: $form-login-gray-text;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0rem;
    margin-top: 1rem;
  }

  form .checkbox input[type="checkbox"] {
    display: block;
    float: left;
    height: 2rem;
    margin-bottom: -0.2rem;
    margin-left: 0;
    margin-right: 1rem;
    outline: 0;
    position: relative;
    top: -0.2rem;
    width: 2rem;
    -webkit-appearance: none;
  }

  form .checkbox input[type="checkbox"]:checked {
    background-image: url(checked.png);
    background-size: 100%;
  }

  #login-box .panel-footer {
    background-color: $white;
    border-top: 0.1rem solid $form-input-button;
    font-size: 1.6rem;
  }
}

.unlocks-page, .confirmations-page, .passwords-page {
  #login-box form {
    border: none;
    margin-top: 3rem;
    padding: 0;
  }

  #login-box .panel-body {
    padding: 3rem 3rem 2rem 3rem;
  }

  .panel-body h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  .panel-body .description {
    color: $form-login-gray-text;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.028rem;
    margin-top: 1rem;
  }
}

.pages{
  background-image: none;

  h2 {
    color: $pages-title;
    font-size: 2.88rem;
    font-weight: 600;
    letter-spacing: -0.037rem;
    margin-bottom: 0;
    margin-top: 4rem;
  }

  h2 span {
    display: block;
  }

  h3 {
    color: $pages-title;
    font-size: 1.92rem;
    font-weight: 500;
    letter-spacing: 0.016rem;
    margin-top: 1.5rem;
  }

  .back-overlay {
    display: none;
  }

  .header, .banner, .empower {
    text-align: center;
  }

  .features ul {
    margin: 0;
    padding: 0;
  }

  .features > ul {
    margin-top: 5rem;
  }

  .features ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature, .feature-group {
    background-color: $features-background;
    border-bottom: 0.1rem solid $features-separator;
    border-radius: 0;
    color: $pages-text;
    display: block;
    font-size: 1.92rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
    padding: 2rem 4rem;
  }

  .feature-icon {
    float: left;
  }

  .features .first {
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .features .last .feature {
    border-bottom: 0;
    border-radius: 0 0 0.3rem 0.3rem;
  }

  .feature-group {
    font-weight: 500;
    padding-top: 3.5rem;
  }

  .features .material-icons {
    margin-right: 2rem;
    position: relative;
    top: 0.2rem;
  }

  .banner {
    background: image-url('home_back_overlay.jpg') no-repeat center center;
    background-size: cover;
    margin: 8rem 0 3rem 0;
    padding: 8rem 1rem;
    text-align: center;

    h2 {
      font-size: 2.88em;
      font-weight: 600;
    }

    h3 {
      font-size: 1.92rem;
      font-weight: 500;
    }

    .btn {
      font-size: 2.88rem;
    }
  }

  .empower {
    h2 {
      margin-bottom: 4rem;
    }

    p {
      font-size: 1.92rem;
      font-weight: 400;
      letter-spacing: 0.016rem;
      margin-bottom: 4rem;
      text-align: left;
    }

    a {
      color: $pages-anchor;
      text-decoration: underline;
    }

    a:hover {
      color: $pages-anchor-hover;
    }
  }
}

.footer-left-col, .footer-left-col p {
  text-align: left;
}

.footer-center, .footer-center-col p {
  text-align: center;
}

.footer-right-col, .footer-right-col p {
  text-align: right;
}

@media(max-width:767px){
  html{
    font-size:55.5%;
  }

  .footer-left-col, .footer-left-col p {
    text-align: center;
  }

  .footer-center-col, .footer-center-col p {
    text-align: center;
  }

  .footer-right-col, .footer-right-col p {
    text-align: center;
  }

  .navbar-nav > li > a{
    text-align: center;
  }

  .footer {
    margin-top: 4rem;
    position: static;
  }

  .landing-page, .login-page, .pages, .unlocks-page, .confirmations-page, .passwords-page {
    .language-selector{
      margin: 0 auto;
      width: 13.5rem;
    }

    .footer {
      bottom: 1rem;
      margin-top: 0;
    }

    .footer a{
      margin-left: 0rem;
    }

    .footer-right-col a{
      margin: 0 1rem;
    }
  }

  .landing-page, .unlocks-page, .confirmations-page, .passwords-page {
    .footer {
      position: absolute;
    }
  }

  .login-page {
    .vertical-align{
      height: auto;
      position: static;
      top: 0;
      transform: none;
      width: 100%;
    }
  }
}
