/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

.post {
  border-top: solid black 1px;
  list-style: none;
  h3 small span.offerer:not(:last-of-type):after {
    content: ",";
  }
}

#side-nav .well {
  padding: 15px;
}

#footer {
  font-size: 10px;
}

@media screen {
  body {
    // padding-top: 60px;
  }
}

// td.hover-actions {
//   > a.action { display: none; }
//   &:hover > a.action { display: inline; }
// }


@media print {
  body {
    padding-top: 0px;
  }
  .table {
    border-collapse: collapse;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd;
    padding: 5px;
  }

}

body {
  // padding-top: 60px;
  padding-bottom: 40px;
  // background-image: image-url('light_wool.png');
}
nav.navbar-static-top.navbar-inverse {
  // background-image: image-url('denim.png');
  // height: 40px;
  // color: white;
}
.container-inner{
  // background-image: image-url('furley_bg.png');
  // padding: 0 20px;
}

.error {
  color: red;
}

ul.statistics li{
  padding-right: 10px;
  padding-bottom: 10px;
}