/*
 *= require_self
 */

$bg-color: #f5f8fa;
$navs-bg-color: #1e1e1e;
$white: #ffffff;
$navs-hover-color: #ddd;
$border: #e1e8ed;
$menu-drop: #333;
$menu-drop-hover: #333;
$menu-disabled: #ddd;

[ng-cloak],
.ng-cloak {
  visibility: hidden !important;
}

body[data-action="devise/sessions-new"], body[data-action="devise/sessions-create"] {
  background: image-url('red.jpg') no-repeat center center fixed;
  background-size: cover;
}

#login-box {
  .panel-heading {
    background: lighten(black, 10%);
    color: darken($white, 5%);
    text-align: center;
  }
}


.post {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 20px;

  h4 {
    font-weight: bold;
    display: block;
  }

  .glyphicon-folder-open {
    font-size: 140%;
    margin: 0 5px;
  }

  .category {
    font-weight: bold;
    margin-right: 10px;
  }

}

.break-word {
  word-wrap: break-word;
}

.post-description img {
  float: left;
  max-width: 60%;
}

#new_transfer {
  padding: 20px;
}

.footer {
  background-color: $navs-bg-color;
  bottom: 0;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  vertical-align: middle;
  width: 100%;

  p {
    font-size: 10px;
    margin: 0;
    text-align: center;
  }

  a {
    color: $white;
  }
}

.navbar-nav > li > a {
  font-size: 1.8rem;
}

.navbar-static-top {
  background-color: $navs-bg-color;
}

.navbar-brand, .navbar-nav li > a {
  color: $white !important;
}

.navbar-brand:hover, .navbar-nav li > a:hover {
  color: $navs-hover-color !important;
}

.navbar-header {
  margin-left: 10% !important;
}

.navbar-right {
  margin-right: 10% !important;
}

.navbar-brand {
  font-size: 2.8rem;
  font-weight: bold;
}

.language {
  border: 1px solid $white;
}

ul.dropdown-menu a {
  color: $menu-drop !important;
}

ul.dropdown-menu a:hover {
  color: $menu-drop-hover !important;
}

.dropdown-menu>.disabled > a, .dropdown-menu>.disabled > a:hover {
  color: $menu-disabled !important;
}

.landing {
  .content {
    text-align: center;

    h2 {
      color: $white;
      font-size: 9rem;
      font-weight: bold;
      margin-top: 12%;
    }

    h3 {
      color: $white;
      font-size: 4.8rem;
      font-weight: bold;
    }

    a.btn {
      font-size: 4.3rem;
      margin-top: 5%;
      padding: 2rem 7.2rem;
    }

  }

  .footer {
    background: none;
    bottom: 5%;
    height: auto;
    padding: 1rem;

    p {
      font-size: 1.9rem;
    }
  }
}

.container-fluid {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.row.exports {
  padding: 10px;
}

table.users {
  padding: 10px;
}

@media screen {

  html {
    min-height: 100%;
    position: relative;
  }

  body {
    background-color: $bg-color;
    margin: 0 0 20px;
  }

  .landing {
    background: url("/home_back.jpg") no-repeat;
    background-size: 100%;
  }

  form {
    background: $white;
    border: 1px solid $border;
    border-collapse: inherit;
    border-radius: 5px;
    margin-bottom:20px;
    padding: 20px;
  }

  #login-box form {
    border:none;
    border-radius: none;
    margin: 0;
    padding: 0;
  }

  table.users tr:nth-of-type(2) th {
    border-top:0;
  }

  .user-profile {
    h1 {
      margin-bottom: 20px;
      margin-top: 0;
    }

    img {
      max-width: 100%;
    }
  }

}

@media print {

  body {
    padding-top: 0px;
  }

  .table {
    border-collapse: collapse;
  }

}


.error {
  color: red;
}

// statistics view
ul.statistics li{
  padding-right: 10px;
  padding-bottom: 10px;
}

#chart{
  clear: both;
}

.pagination {
  width: 100%;
  text-align: center;
}
.more {
  display: block;
  margin: 10px auto;
  width: 100px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

// if not navbar hidden datepicker in small windows
.ui-datepicker{
  z-index: 1000 !important;
}

// fields that contain an error
.field_with_errors{
  color: red;
}

label[required]::after{
  content: " *";
}

// paginator
.paginate-align {
  display: table;
  margin: 0 auto;
}

.navbar-form {
  padding: 0;
  background-color: transparent;
}

form .checkbox input[type="checkbox"] {
  margin-left: 5px;
  position: relative;
}
