//= require_self
//= require main/bar_nav
//= require main/drop_box
//= require main/accordion
//= require main/mega_menu
//= require main/icons
//= require main/gradients
//= require main/round_corners

@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

/* General
----------------------------------------------------------------------------------------------------*/
body {
  // padding-top: 60px;
  background-color:transparent;
  background: url(../images/bg/px_by_Gre3g.png) center top repeat;
}
.bg_main_01 {
  background: url(../images/bg/irongrip.png) center top repeat;
}
.bg_main_02 {
  background: url(../images/bg/dark_brick_wall.png) center top repeat;
}
.bg_main_03 {
  background: url(../images/bg/darth_stripe.png) center top repeat;
}
.bg_main_04 {
  background: url(../images/bg/always_grey.png) center top repeat;
}
.bg_main_05 {
  background: url(../images/bg/ravenna.png) center top repeat;
}
.bg_main_06 {
  background: url(../images/bg/random_grey_variations.png) center top repeat;
}
.bg_main_07 {
  background: url(../images/bg/fabric_plaid.png) center top repeat;
}
.bg_main_08 {
  background: url(../images/bg/white_brick_wall.png) center top repeat;
}
.bg_main_09 {
  background: url(../images/bg/vertical_cloth.png) center top repeat;
}
.bg_main_10 {
  background: url(../images/bg/whitey.png) center top repeat;
}
.bg_main_11 {
  background: url(../images/bg/farmer.png) center top repeat;
}
.bg_main_12 {
  background: url(../images/bg/padded.png) center top repeat;
}
.bg_main_13 {
  background: url(../images/bg/dark_geometric.png) center top repeat;
}
.bg_main_14 {
  background: url(../images/bg/rubber_grip.png) center top repeat;
}
.bg_main_15 {
  background: url(../images/bg/black_linen_v2.png) center top repeat;
}
.bg_main_16 {
  background: url(../images/bg/crissXcross.png) center top repeat;
}
.bg_main_17 {
  background: url(../images/bg/mirrored_squares.png) center top repeat;
}
.bg_main_18 {
  background: url(../images/bg/darkdenim3.png) center top repeat;
}
#logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 75px;
}
body footer p, body .footer p {
  color:#fff;
}
.logo {
  background-image: url(../images/logo.png);
  width: 204px;
}
.logo.dark {
  background-image: url(../images/logo-dark.png);
}
.login_logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}
.logo-small {
  background-image: url(../images/logo-small.png);
  width: 38px;
}
.logo-small.dark {
  background-image: url(../images/logo-dark-small.png);
  width: 38px;
}
/* expand class for closed nav */   
.container-fluid > .expand_to_nav {
  margin-left: 60px;
}
.normal-unit {
  background-color: #fff;
  border-radius: 6px;
}
.box_padding_10 *, .box_padding_10 > * {
  padding-left:10px;
  padding-right:10px;
}
.box_padding_20 *, .box_padding_20 > * {
  padding-left:20px;
  padding-right:20px;
}
.padding_10 {
  padding:10px;
}
.margin_10 {
  margin:10px;
}
.box_margin_10 *, .box_margin_10 > * {
  margin-left:10px;
  margin-right:10px;
}
.padding_20 {
  padding:20px;
}
.clear_left {
  clear:left;
}
/* box styles */
.dashed_box_placeholder {
  background-color: #DDDDDD;
  border: 1px dashed #AAAAAA;
  display: block;
  /* float: left;*/
    margin-bottom: 13px !important;
  margin-left: 1%;
  margin-right: 0.6%;
}
.dashed_box_placeholder * {
  visibility:hidden;
}
.column {
  min-height:20px;
}
.box {
  position: relative;
  padding:0;
  margin-bottom:20px;
  height:auto;
}
.box h2.box_head {
  font-size:14px;
  font-weight:bold;
  line-height:32px;
  /*background-color:#4c5766;*/
  /* */
  margin:-1px auto 0px;
  text-indent:10px;
  /*text-shadow:0px 1px 0px #000;*/
  -webkit-user-select: none;
  height:32px;
  -webkit-text-size-adjust: none;
  cursor:move;
}
.box .block {
  padding-top:10px;
  padding-bottom:10px;
  margin-top:0px;
  position:relative;
  background: none;
  background-color:white;
  border-bottom:1px solid #ccc;
  border-width:1px 0;
  height:auto;
}
.grad_colour {/*
  background: #4c5766;
  background: -moz-linear-gradient(top, #4c5766 0%, #313841 99%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c5766), color-stop(99%, #313841));
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5766', endColorstr='#313841', GradientType=0 ); 
  background: -o-linear-gradient(top, #4c5766 0%, #313841 99%);
  background: linear-gradient(top, #4c5766 0%, #313841 99%);
  background: -ms-linear-gradient(top, #4c5766 0%, #313841 99%);
  border:1px solid #313841;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  zoom:1;*/
}
.box_2_col .box, .box_3_col .box, .box_4_col .box {
  display: inline;
  float: left;
  margin-right:20px;
}
.box_2_col .box:last-child, .box_3_col .box:last-child, .box_4_col .box:last-child {
  margin-right: 0px;
}
.box_2_col, .box_1_col, .box_3_col, .box_4_col, .box_1_col .box {
  width: 940px;
}
.box_2_col .box {
  width: 460px;
}
.box_3_col .box {
  width: 300px;
}
.box_4_col .box {
  width: 220px;
}
/* Jquery UI icons */
ul#icons {
  margin: 0;
  padding: 0;
}
ul#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
ul#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}



/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 10px;
}
.show-grid [class*="span"] {
  background: #eee;
  text-align: center;
  @include border-radius(3px);
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}
/* bootstap */
.btn-shortcut {
  font-size: 12px;
  font-weight:bold;
  line-height: 20px;
  @include border-radius(5px);
  height:55px;
  width:55px;
  float: right;
  margin-bottom: 20px;
  margin-top:10px;
  margin-left: 15px;
}
.shortcut .btn-shortcut {
  height:55px;
  width:55px;
  padding:4px 15px 4px;
}
.shortcut .btn-shortcut img {
  margin-top:5px;
}
.shortcut .btn-shortcut .label {
  position: relative;
  display: inline-block;
  top: -72px;
  margin-left: 63px;
  line-height: normal;
}
/* Text Box */
.flat_box {
  margin-bottom: 20px;
  background-color: #fff;
  @include border-radius(3px);
}
.flat_box .content {
  padding: 10px;
}
/* For input sizes, make them display block */
.docs-input-sizes select, .docs-input-sizes input[type=text], .docs-input-sizes .chzn-container {
  display: block;
  margin-bottom: 9px;
}
.dataTables_wrapper label select {
  display:inline;
}
.dataTables_wrapper select, .dataTables_wrapper input {
  margin-bottom:0px;
  width:auto;
}
/* Statistics */

ul.statistics, ul.members {
  margin: 10px 0;
}
.box ul.statistics li, .box ul.members li {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #fff;
  list-style: none;
}
ul.statistics li:first-child, ul.members li:first-child {
  border-top: none;
}
ul.statistics li:last-child, ul.members li:last-child {
  border-bottom: none;
}
ul.statistics li a {
  color: #666;
  display: block;
  line-height: 32px;
  text-decoration: none;
}
ul.members li a {
  margin-top:10px;
  margin-bottom:10px;
  color: #666;
  display: block;
  text-decoration: none;
}
ul.statistics li a:hover, ul.members li a:hover {
  color: #999;
}
ul.statistics li a span {
  display: inline-block;
 *display: inline;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 70px;
  zoom: 1;
}
ul.statistics i[class*=icon] {
  margin-left: 15px;
}
.red {
  color:#B94A48;
}
.green {
  color:#468847
}
.yellow {
  color:#F89406
}
.blue {
  color:#3A87AD;
}
img.member_avatar {
  height:50px;
  width:50px;
  padding:1px;
  border:1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float:left;
  margin-left:15px;
  margin-right:15px;
}
#calender * {
  margin:0;
  padding:0;
}
.uniform {
  padding-left: 0px;
}
.slider {
  margin-top:10px;
}
.external-event {
  margin-bottom:20px;
}
.box a.toggle {
  background:rgba(0,0,0,0.1) url(../images/ui-icons_ffffff_256x240.png) no-repeat;
  background-position: -64px -16px;
  display:block;
  height:17px;
  width:17px;
  position: absolute;
  top:5px;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  @include box-shadow(0px 1px 0px rgba(255,255,255,0.3));
  text-decoration:none;
}
.box a.toggle_closed {
  background-position: -96px -16px;
  text-decoration:none;
}
.box a.destroy {
  background:rgba(0,0,0,0.1) url(../images/ui-icons_ffffff_256x240.png) no-repeat;
  background-position: -80px -128px;
  display:block;
  height:17px;
  width:17px;
  position: absolute;
  top:5px;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  @include box-shadow(0px 1px 0px rgba(255,255,255,0.3));
  text-decoration:none;
}
.box a.settings {
  background:rgba(black,0.1) url(../images/ui-icons_ffffff_256x240.png) no-repeat;
  background-position: -192px -112px;
  display:block;
  height:17px;
  width:17px;
  position: absolute;
  top:5px;
  border:1px solid rgba(black, 0.2);
  border-radius: 3px;
  @include box-shadow(0px 1px 0px rgba(white,0.3));
  text-decoration:none;
  display: block;
  float: right;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.box_button_1 {
  right:8px;
}
.box_button_2 {
  right:30px;
}
.box_button_3 {
  right:52px;
}
.icon-standard {
  width:auto;
  background-image:none;
  display: inline-block;
  vertical-align: text-top;
}
.checkboxset_on {
  display: inline-block;
}
.box.grad_colour_dark_blue h2.box_head {
  @include background(linear-gradient(top, #0088cc, #0044cc));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color:#ffffff;
}
.box.grad_colour_light_blue h2.box_head {
  @include background(linear-gradient(top, #5bc0de, #2f96b4));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color:#ffffff;
}
.box.grad_colour_red h2.box_head {
  @include background(linear-gradient(top, #ee5f5b, #bd362f));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color:#ffffff;
}
.box.grad_colour_green h2.box_head {
  @include background(linear-gradient(top, #62c462, #51a351));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color:#ffffff;
}
.box.grad_colour_orange h2.box_head {
  @include background(linear-gradient(top, #fbb450, #f89406));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color:#ffffff;
}
.box.grad_colour_grey h2.box_head {
  @include background(linear-gradient(top, #ffffff, #e6e6e6));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 1px 1px rgba(white, 0.75);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  color: #333333;
}
.box.grad_colour_grey .settings, .box.grad_colour_grey .toggle, .box.grad_colour_grey .destroy {
  background-image:url(../js/jquery-ui-bootstrap/css/custom-theme/images/ui-icons_222222_256x240.png);
}
.box.grad_colour_black h2.box_head {
  @include background(linear-gradient(top, #454545, #262626));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 -1px 0 rgba(black, 0.25);
  color: white;
}
.box.grad_colour_orange h2.box_head {
  @include background(linear-gradient(top, #fbb450, #f89406));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  text-shadow: 0 1px 1px rgba(white, 0.75);
  color: white;
}
#breadcrumb {
  text-shadow: 0 1px 1px rgba(white, 0.75);
  @include background(linear-gradient(top, #ffffff, #e6e6e6));
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  color: #333333;
}




