@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";


.side_nav.sticky{
  position: fixed;
  left:20px;
  top:60px
}


.push_down{
  margin-top: 17px;
}

.on_left{
  float: left;
  margin-right: 0 !important;
  }
  
.on_right{
  margin-left: 0 !important;
  float: right;
}
.side_nav{
  z-index: 15;
}
.side_nav a.minimize{
  background-color: #000;
  display: block;
  height: 20px;
  width:26px;
  float: right;
  margin-right: 7px;
  background: black url('../images/open_close.png') no-repeat left;
}
.side_nav a.minimize:hover{
  background-position: left top;
}
.side_nav a.minimize_closed:hover{
  background-position: left bottom;
}

.side_nav a.minimize span, 
.side_nav a.minimize_closed span{
  display: none;
}

.side_nav.closed{
  /*width: 40px;*/
  width: 4.25%;
}

#main.min_side_nav{
  width: 886px;
}
.side_nav.closed > ul > li > a > span{
  display: none;
}
.side_nav a.minimize span{display: none;}

.side_nav ul{
  margin: 0;
  list-style: none; 
}
.side_nav ul ul {
  li, ul {
    width: 160px;
    margin: 0;
    list-style: none;
  }
}

.side_nav ul li { 
  float: left; 
  position: relative;  
  width: 100%; 
}


.side_nav > ul > li {
  ul, ul ul, ul ul ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 9999;
    margin-top: 1px;
  }
}
.side_nav > ul > li > ul{ margin-top: 0px;}

.side_nav > ul > li > ul > li:first-child > ul{
  margin-top: -1px;
}

.side_nav ul li ul li ul {
  margin-top: 0px;
}

.side_nav ul ul.slide_left,
.side_nav ul ul ul.slide_left,
.side_nav ul ul ul ul.slide_left{
  top: 0px; 
  left:auto;
  right:100%;
}

/* Root Menu */
.side_nav ul a {
  padding: 0 10px;
  display: block;
  font: bold 12px sans-serif;
  text-decoration: none;
  white-space: nowrap;
  line-height: 30px;
  img{
    margin: 5px 5px -12px -3px;
    position: relative;
    top:-2px;
  }
}

.side_nav ul ul{
  z-index: 3;
  ul {
    z-index: 4;
    ul{
      z-index: 5;
      ul {
        z-index: 6;
        ul {
          z-index: 7;
          ul { z-index: 7;}
        }
      }
    }
  }
}


/* Hover Function - Do Not Move */
.side_nav ul {
  li.iehover, li:hover {
    ul ul, ul ul ul, ul ul ul ul { display: none; }
  }
}

.side_nav {
  ul, ul ul, ul ul ul, ul ul ul ul {
    li:hover, li.iehover {
      ul { display: block; }
    }
  }
}




/* Round corners
----------------------------------------------------------------------------------------------------*/

.side_nav ul li:first-child > a {
  @include border-top-radius(3px);
}

.side_nav ul li:last-child > a {
  @include border-bottom-radius(3px);
}

.side_nav div.accordion {
  margin-bottom: 0;
}
