<% if @organization.errors.present? %>
  <% @organization.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<h1>
  <%= link_to @organization, organization_path(@organization) %>
  <small><%= t 'global.edit' %></small>
</h1>
<%= render 'form' %>
