
%table.table.table-hover.table-condensed#categories
  %thead
    %tr
      %th= Category.human_attribute_name(:name)
      / %th= Category.human_attribute_name(:children)
      %th
        %i.icon-hand-down
        = t "global.table.actions"
  %tbody
    - categories.each do |cat|
      %tr
        %td
          / - if cat.organization_id
          /   %i.icon-group
          / -else
          /   %i.icon-globe
          = link_to(cat.fqn, cat)
        / %td= cat.children_count
        %td
          %a.action{href: category_path(cat), title: t("global.show")}
            %i.icon-eye-open
          - if superadmin? # or (admin? and cat.organization_id == current_organization.id)
            %a.action{href: edit_category_path(cat), title: t("global.edit")}
              %i.icon-pencil
            %a.action{href: category_path(cat), title: t("global.delete"), data: {method: :delete}}
              %i.icon-trash

/ :coffeescript
/   jQuery ->
/     $('#categories').dataTable
/       sPaginationType: "full_numbers"
/       sDom: "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
/       sWrapper: "dataTables_wrapper form-inline"
/       sPaginationType: "bootstrap"
/       aaSorting: [[ 0, "asc" ]]
/       aoColumnDefs: [
/         bSortable: false, aTargets: [ 1, 2 ]
/       ]
