<p>Hola <%= @resource.email %>!</p>

<p>S'ha sol·licitat el canvi de la teva contrasenya. Pots canviar-la a travès del següent enllaç.</p>

<p><%= link_to 'Canviar contrasenya', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no has sol·licitat el canvi de contrasenya, no facis cas d'aquest correu.</p>
<p>La teva contrasenya no canviarà fins que no facis clic a l'enllaç.</p>
