<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado el cambio de tu contraseña. Puedes cambiarlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no has solicitado un cambio de contraseña ignora este mail.</p>
<p>Tu password no cambiará hasta que no accedas al link.</p>
