%h1
  = @inquiry.title
  %small
    = t ".edit"

= render partial: "shared/post_form", locals: { post: @inquiry,
                                                label_button: t(".submit") }

:javascript
  $("#inquiry_tag_list").tagsManager();
