$('.inquiries').append('#{escape_javascript(render partial: "shared/posts", :locals => { :posts => @inquiries.actives })}');
$('.inquiries ~ a[rel=next]').replaceWith('#{link_to_next_page @inquiries.actives, t('.more'), remote: true, params: params}');
