%h1
  = Inquiry.model_name.human(count: :many)

%ul.nav.nav-pills
  %li
  %a{href: new_inquiry_path}
    %span.glyphicon.glyphicon-plus
    = t '.new_inquiry'

%ul.inquiries
  = render :partial => 'shared/posts', :locals => { :posts => @inquiries }

= link_to_next_page @inquiries, t('.more'), remote: true

