<% if @inquiry.organization == current_organization %>
  <div class="actions text-right">
    <% if admin? or @inquiry.user == current_user %>
      <%= render 'shared/post_actions', post: @inquiry %>
    <% end %>
  </div>
<% end %>
<%= render "shared/post", post: @inquiry %>
