<% if @inquiry.organization == current_organization %>
<div class="row">
  <p class="col-xs-12 actions text-right">
    <% if admin? or @inquiry.user == current_user %>
      <%= render 'shared/post_actions', post: @inquiry %>
    <% end %>
  </p>
</div>
<% end %>
<%= render "shared/post", post: @inquiry %>
