%a.brand{href: "/"} TimeOverflow
%ul.nav.pull-right
  - if current_user
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: "dropdown"}}
        %i.icon-user
        = current_user.email
        %b.caret
      %ul.dropdown-menu
        %li
          %a.disabled
            %i.icon-wrench
            = t "menu.preferences"
        %li
          %a{href: "/sign_out", data: {method: :delete}}
            %i.icon-signout
            Log out

  - else
    %li
      %a{href: "/sessions/new"} Log in
