%a.brand{href: "/"} TimeOverflow
%ul.nav.pull-right
  - if current_user
    %li.dropdown
      %a.dropdown-toggle{href: true, data: {toggle: "dropdown"}}
        %span.glyphicon.glyphicon-user
        = current_user.email
        %b.caret
      %ul.dropdown-menu
        %li
          %a.disabled
            %span.glyphicon.glyphicon-wrench
            = t "menu.preferences"
    %li
      %a#signout{href: true}
        %span.glyphicon.glyphicon-signout
        = t ".signout"

  - else
    %li
      %a#signin{href: true}
        %span.glyphicon.glyphicon-signin
        = t ".signin"
