%a.brand{href: "/"} TimeOverflow
%ul.nav.pull-right
  - if current_user
    %li.dropdown
      %a.dropdown-toggle{href: true, data: {toggle: "dropdown"}}
        %i.icon-user
        = current_user.email
        %b.caret
      %ul.dropdown-menu
        %li
          %a.disabled
            %i.icon-wrench
            = t "menu.preferences"
        %li
          %a#signout{href: true}
            %i.icon-signout
            Log out

  - else
    %li
      .persona-button.orange
        %a#signin{href: true, style: "color: inherit;"}
          %span Log in