:javascript
  angular.module('timeoverflow').value('Organizations', #{ raw Organization.all.to_json(only: [:name, :email, :phone, :public_opening_times, :city, :neighborhood]) });


.jumbotron{"ng-controller" => "OrganizationListCtrl"}
  %p.lead
    = t(".welcome", user: current_user.to_s)
    %br/
    = t(".not_member")

  %table.table
    %thead
      %tr
        %th
          =t(".time_bank")
        %th
          =t(".email")
        %th
          =t(".phone")
        %th
          =t(".public_opening_times")
        %th
          =t(".city")
        %th
          =t(".neighborhood")
    %tbody
      %tr{"ng-repeat" => "org in organizations"}
        %td {{ org.name }}
        %td {{ org.email }}
        %td {{ org.phone }}
        %td {{ org.public_opening_times }}
        %td {{ org.city }}
        %td {{ org.neighborhood }}
