.row
  .span8
    .well
      %form.form-horizontal{:name => "categoryForm"}
        %fieldset
          %legend
            {{ formTitle() }}
          %div{:field => "", :label => "Name"}
            %input#name.input-xlarge{"ng-model" => "object.name", :type => "text"}/
          %div{:field => "", :label => "Parent"}
            %select.input-xlarge{"data-placeholder" => "category", "ng-model" => "object.parent_id", "ui-select2" => "{allowClear:true}"}
              %option{:value => ""} (no parent)
              %option{"ng-repeat" => "cat in categories", :value => "{{ cat.id }}"} {{ cat.fqn }}
        %pre {{ object | json }}
        .form-actions
          %button.btn.btn-primary{"ng-click" => "save(object)", :type => "submit"} Save changes
          %a.btn{:href => "/categories"} Cancel