<div class='row'>
  <div class='span8'>
    <div class='well'>
      <form class='form-horizontal' name='orgForm'>
        <fieldset>
          <legend>
            {{ formTitle() }}
          </legend>
          <div field label='Name'>
            <input class='input-xlarge' id='name' ng-model='object.name' type='text' />
          </div>
        </fieldset>
        <pre>{{ object | json }}</pre>
        <div class='form-actions'>
          <button class='btn btn-primary' ng-click='save(object)' type='submit'>Save changes</button>
          <a class='btn' href='#/organizations'>Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
