<div class="row">
  <h1 class="span12">{{ object.username }}</h1>
  <div class="span6">
    <dl class="well">
      <dt>Organización</dt>
      <dd>{{ organizations.find(object.organization_id).name }}</dd>
      <dt>Correo electrónico</dt>
      <dd>{{ object.email }}</dd>
      <dt>Administrador</dt>
      <dd>
        <ng-switch on="object.admin">
          <i class="icon-ok" style="color:green" ng-switch-when="true"></i>
          <i class="icon-ban-circle" style="color:red" ng-switch-default></i>
        </ng-switch>
      </dd>
      <dt>Administrador de sistema</dt>
      <dd>
        <ng-switch on="object.superadmin">
          <i class="icon-ok" style="color:green" ng-switch-when="true"></i>
          <i class="icon-ban-circle" style="color:red" ng-switch-default></i>
        </ng-switch>
      </dd>
      <dt>Código de miembro</dt>
      <dd>{{ object.registration_number }}</dd>
      <dt>Fecha de alta</dt>
      <dd>{{ object.registration_date }}</dd>
      <dt>Número de documento (DNI/Pasaporte/...)</dt>
      <dd>{{ object.identity_document }}</dd>
      <dt>Teléfonos</dt>
      <dd>{{ [object.phone, object.alt_phone].join(", ") }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h3>Categorías ofrecidas</h3>
    <ul>
      <li ng-repeat="cid in object.category_ids">{{ categories.find(cid).fqn }}</li>
    </ul>
  </div>
</div>
