<div translation-context="userForm">
  <h1><span translate=".usuarios">Usuarios</span> <small>({{ users.length }})</small></h1>
  <div class='navbar'>
    <div class='navbar-inner'>
      <ul class='nav pull-right'>
        <button class='btn' ng-click='show.by=null' ng-class="{active: show.by==null}" translate=".porusuario">Por usuario</button>
        <button class='btn' ng-click='show.by="category"' ng-class="{active: show.by=='category'}" translate=".porcategoria">Por servicios</button>
        <button class='btn btn-info' ng-click='showEmailsToCopy()' translate=".veremails">Ver emails</button>
        <a class='btn btn-primary' bs-modal="'assets/user-form.html'" translate="nuevouser">Nuevo usuario</a>
      </ul>
    </div>
  </div>
  <ng:switch on="show.by">
    <div ng-switch-when="category">
      <table class='table table-hover table-condensed'>
        <thead>
          <tr>
            <th translate=".servicios">Servicios ofrecidos</th>
            <th translate=".usuarios">Usuarios</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cat in (categories | orderBy:'fqn')" ng-show="showCat(cat.id)">
            <td>
              <span ng-repeat="t in depth(cat, true)">
                <i class="icon-angle-right"></i>
              </span>
              {{ cat.name }}
            </td>
            <td>
              <span ng-repeat="u in usersByCategory[cat.id]"><a ng-href="{{'#/users/' + u}}">{{ User.identityMap[u].registration_number }} <span ng-show="currentUser.superadmin &amp;&amp; User.identityMap[u].organization">({{ User.identityMap[u].organization.name }})</span></a><span ng-hide="$last">, </span></span>
            </td>
          </tr>
        </tbody>
      </table>
<!--       <div ng-repeat="cat in (categories | orderBy:'fqn')">
        <div ng-show="usersByCategory[cat.id]">
          <h5><span ng-repeat="depth(cat, true)"><i class="icon-chevron-right"></i></span> {{ cat.name }}</h5>
          <span ng-repeat="u in usersByCategory[cat.id]">{{ User.identityMap[u].registration_number }} <span ng-show="currentUser.superadmin &amp;&amp; User.identityMap[u].organization">({{ User.identityMap[u].organization.name }})</span><span ng-hide="$last">, </span></span>
        </div>
      </div>
 -->    </div>
    <div ng-switch-default="">
      <table class='table table-hover table-condensed'>
        <thead>
          <tr>
            <th colspan='12'>
            </th>
          </tr>
          <tr>
            <th ng-show="currentUser.superadmin" translate=".organizacion">Organización</th>
            <th translate=".codigo">Código de usuario</th>
            <th translate=".nombre">Nombre</th>
            <th translate=".email">Email</th>
            <th translate=".telofono">Teléfono principal</th>
            <th translate=".telefonoalt">Teléfono alternativo</th>
            <th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in (users | orderBy:'registration_number' | filter:searchTerm)">
            <td ng-show="currentUser.superadmin">{{ u.organization.name }}</td>
            <td>{{ u.registration_number }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.alt_phone }}</td>
            <td class="hover-actions">
              <a class="action" href='#/users/{{u.id}}' translate="ver"><i class="icon-eye-open"></i> ver</a>
              <a class="action" href='#/users/{{u.id}}/edit' ng-show="currentUser.admin" translate="modificaruser"><i class="icon-pencil"></i> modificar</a>
              <a class="action" ng-click='deleteUser(u)' ng-show="currentUser.admin" translate="borrar"><i class="icon-ban-circle"></i> borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng:switch>
</div>
