%table.table.table-hover.table-condensed
  %thead
    %tr
      %th{colspan: 5}
        .navbar
          .navbar-inner
            .brand Listing users
            %form.navbar-search
              %input.search-query{"type" => "text", "placeholder" => "Search", "ng-model" => "searchTerm"}
            %ul.nav.pull-right
              %a.btn.btn-primary{href: "/users/new"} New user
    %tr
      %th Username
      %th email
      %th ID
      %th dob
      %th organization
  %tbody
    %tr{"ng-repeat" => "u in (users | orderBy:'username' | filter:searchTerm)"}
      %td
        %a{href: "/users/{{u.id}}"} {{ u.username }}
      %td {{ u.email }}
      %td {{ u.identity_document }}
      %td {{ u.date_of_birth }}
      %td {{ u.organization.name }}
