%form.form-horizontal{name: "userForm"}
  %legend {{ formTitle() }}
  %div{field: "", label: "Name"}
    %input#name.input-xxlarge{"type" => "text", "ng-model" => "object.username"}
  %div{field: "", label: "Organization"}
    %select#org.input-xxlarge{"ui-select2" => "{allowClear:true}", "ng-model" => "object.organization_id", "data-placeholder" => "organization"}
      %option{value: ""} (no org)
      %option{"ng-repeat" => "o in organizations", "value" => "{{ o.id }}"} {{ o.name }}
  %div{field: "", label: "Email"}
    %input#email.input-xxlarge{"type" => "email", "ng-model" => "object.email"}
  %div{field: "", label: "Password"}
    %input#pwd.input-xxlarge{"type" => "password", "ng-model" => "object.password"}
  %div{field: "", label: "Repeat password"}
    %input#pwd2.input-xxlarge{"type" => "password", "ng-model" => "object.password_confirmation"}
  %div{field: "", label: "Date of birth"}
    %input#dob2.input-xxlarge{"type" => "date", "ng-model" => "object.date_of_birth", "ui-jq" => "datepicker", "ui-options" => "{dateFormat: 'dd/mm/yy'}"}
  %div{field: "", label: "ID"}
    %input#identity_document.input-xxlarge{"type" => "text", "ng-model" => "object.identity_document"}
  %div{field: "", label: "Phone"}
    %input#phone.input-xxlarge{"type" => "tel", "ng-model" => "object.phone"}
  %div{field: "", label: "Alternative phone"}
    %input#alt_phone.input-xxlarge{"type" => "tel", "ng-model" => "object.alt_phone"}
  %div{field: "", label: "Categories"}
    %select#categories.input-xxlarge{"ui-select2" => "{allowClear:true}", "ng-model" => "object.categories", "data-placeholder" => "Select categories", "multiple" => true}
      %option{"ng-repeat" => "cat in categories", "value" => "{{ cat.id }}"} {{ cat.fqn }}
  / %pre {{ category | json }}
  .form-actions
    %button.btn.btn-primary{:type => "submit", "ng-click" => "save(object)"} Save changes
    %a.btn{href: "/users"} Cancel


