.row
  .span8
    .navbar
      .navbar-inner
        .brand Listing users
        %form.navbar-search
          %input.search-query{"type" => "text", "placeholder" => "Search", "ng-model" => "searchTerm"}
        %ul.nav.pull-right
          %a.btn.btn-primary{href: "/users/new"} New user

    %table.table.table-hover.table-condensed
      %tbody
        %tr{"ng-repeat" => "u in (users | orderBy:'username' | filter:searchTerm)"}
          %td
            %a{href: "/users/{{u.id}}"} {{ u.username }}
          %td
            {{ u.email }}
          %td
            {{ u.organization.name }}
