<div class="modal-header">
  <h3 ng-switch on="!!object.id">
    <span ng-switch-when="false" translate=".nuevouser">Nuevo usuario
    <span ng-switch-when="true" translate=".modificaruser">Modificar {{object.username}}
  </h3>
</div>
<div class="modal-body" translation-context="userForm">
  <form class='form' ng-show="!step">


    <label translate=".nombre">Nombre</label>
    <input type='text' ng-model='object.username' />

    <fieldset ng-show="currentUser.superadmin">
      <label translate=".organizacion">Organización</label>
      <select data-placeholder='organization' ng-model='object.organization_id'>
        <option value=''>(no org)</option>
        <option ng-repeat='o in organizations' value='{{ o.id }}'>{{ o.name }}</option>
      </select>
    </fieldset>

    <label translate=".email">Email</label>
    <input type='email' ng-model='object.email' />

    <fieldset ng-show="currentUser.admin || currentUser.superadmin">
      <label class="checkbox">
        <input type='checkbox' ng-model='object.admin' translate=".admin"/>
        Es administrador
      </label>
      <span class="label label-warning" ng-show="object.admin">Atención!!! Estás dando poderes a este usuario!!</span>
    </fieldset>

    <fieldset ng-show="currentUser.superadmin">
      <label class="checkbox">
        <input type='checkbox' ng-model='object.superadmin' translate=".superadmin" />
        Es administrador de sistema
      </label>
      <span class="label label-important" ng-show="object.superadmin">Atención!!! Estás dando PODERES DIVINOS a este usuario!!</span>
    </fieldset>

    <label translate=".fechaalta">Fecha de alta</label>
    <input type='text' ng-model='object.registration_date' data-date-format="dd/mm/yyyy" bs-datepicker />

    <label translate=".password">Contraseña</label>
    <input type='password' ng-model='object.password' />

    <label translate=".rpassword">Confirmar password</label>
    <input type='password' ng-model='object.password_confirmation' />

    <label translate=".fechanacimiento">Fecha de nacimiento</label>
    <input type='text' ng-model='object.date_of_birth' data-date-format="dd/mm/yyyy" bs-datepicker />

    <label translate=".ndocumento">Número de documento (DNI/Pasaporte/...)</label>
    <input type='text' ng-model='object.identity_document' />

    <label translate=".telofono">Teléfono principal</label>
    <input type='tel' ng-model='object.phone' />

    <label translate=".telefonoalt">Teléfono alternativo</label>
    <input type='tel' ng-model='object.alt_phone' />

  </form>
  <form class="form" ng-show="step == 1">
    <label translate=".servicios">Servicios ofrecidos</label>
    <select class='input-xxlarge' data-placeholder='Seleccionar' id='categories' multiple='multiple' ng-model='object.category_ids' ui-select2='{allowClear:true}'>
      <option ng-repeat='cat in categories' value='{{ cat.id }}'>{{ cat.fqn }}</option>
    </select>

  </form>
</div>
<div class='modal-footer'>
  <button class='btn' ng-click='step = (step || 0) + 1' ng-show="!step" translate=".siguientepaso">Siguiente paso</button>
  <button class='btn btn-primary' ng-click='step = 0; save(object); dismiss()' ng-show="step == 1" translate=".guardar">Guardar</button>
  <a class='btn' ng-click='step = 0; dismiss()' translate=".cancelar">Cancelar</a>
</div>
