.row
  .span8

    %h1 Listing users

    .navbar
      .navbar-inner
        %ul.nav
          %a.btn.btn-primary{href: "/users/new"} New {{ resource_name }}
        %form.navbar-search.pull-left
          %input.search-query{"type" => "text", "placeholder" => "Search", "ng-model" => "searchTerm"}

    %table.table.table-hover.table-condensed
      %tbody
        %tr{"ng-repeat" => "u in (users | orderBy:username | filter:searchTerm)"}
          %td
            %a{href: "/users/{{u.id}}"} {{ u.name() }}
