.row
  .span8
    .well
      %form.form-horizontal{name: "userForm"}
        %fieldset
          %legend
            {{ formTitle() }}
          .control-group
            %label.control-label{:for => "name"} Name
            .controls
              %input#name.input-xxlarge{"type" => "text", "ng-model" => "object.username"}
          .control-group
            %label.control-label{:for => "org"} Organization
            .controls
              %select#org.input-xxlarge{"ui-select2" => "{allowClear:true}", "ng-model" => "object.organization_id", "data-placeholder" => "organization"}
                %option{value: ""} (no org)
                %option{"ng-repeat" => "o in organizations", "value" => "{{ o.id }}"} {{ o.name }}
          .control-group
            %label.control-label{:for => "email"} Email
            .controls
              %input#email.input-xxlarge{"type" => "email", "ng-model" => "object.email"}
          .control-group
            %label.control-label{:for => "pwd"} Password
            .controls
              %input#pwd.input-xxlarge{"type" => "password", "ng-model" => "object.password"}
          .control-group
            %label.control-label{:for => "pwd2"} Repeat password
            .controls
              %input#pwd2.input-xxlarge{"type" => "password", "ng-model" => "object.password_confirmation"}
          .control-group
            %label.control-label{:for => "dob"} Date of birth
            .controls
              %input#dob.input-xxlarge{"type" => "text", "ng-model" => "object.date_of_birth", "ui-date" => "{changeYear: true}", "ui-date-format"=>"yyyy-MM-dd"}
          .control-group
            %label.control-label{:for => "identity_document"} ID
            .controls
              %input#identity_document.input-xxlarge{"type" => "text", "ng-model" => "object.identity_document"}
          .control-group
            %label.control-label{:for => "phone"} Phone
            .controls
              %input#phone.input-xxlarge{"type" => "tel", "ng-model" => "object.phone"}
          .control-group
            %label.control-label{:for => "alt_phone"} Alternative phone
            .controls
              %input#alt_phone.input-xxlarge{"type" => "tel", "ng-model" => "object.alt_phone"}
          .control-group
            %label.control-label{:for => "categories"} Categories
            .controls
              %select#categories.input-xxlarge{"ui-select2" => "{allowClear:true}", "ng-model" => "object.categories", "data-placeholder" => "Select categories", "multiple" => true}
                %option{"ng-repeat" => "cat in categories", "value" => "{{ cat.id }}"} {{ cat.fqn }}
        / %pre {{ category | json }}
        .form-actions
          %button.btn.btn-primary{:type => "submit", "ng-click" => "save(object)"} Save changes
          %a.btn{href: "/users"} Cancel


