.to-member-card {
  & {
    margin: 16px 0;
    width: 100%;
    max-width: 600px;
    height: 178px;
    background-color: white;
    box-shadow: 0 0 3px $palette-grey;
    display: inline-block;
    border-radius: 4px;

    @media(max-width: $screen-sm-min) {
      height: auto;
      margin: 10px 0;
    }
  }

  &__header {
    & {
      display: flex;
      background-color: $palette-dark-turkey;
      padding: 10px 20px;
      border-radius: 4px 4px 0 0;
    }

    &__avatar {
      margin-right: 20px;
    }

    &__text {
      h4 {
        & {
          margin: 4px 0 6px;
        }

        a {
          color: white;
          font-size: 18px;
        }
      }

      &__activity {
        font-size: 14px;
        color: #78adb9;
        font-size: 12px;
      }
    }
  }

  &__body {
    & {
      padding: 16px 20px;
    }

    &__description {
      margin-bottom: 10px;
      color: #666;
      font-size: 15px;
      height: 44px;

      @media(max-width: $screen-sm-min) {
        height: auto;
      }
    }

    &__items {
      display: flex;

      @media(max-width: $screen-sm-min) {
        display: block;
        margin-bottom: 2px;
      }
    }

    &__item {
      & {
        margin-right: 20px;
        font-size: 14px;
        color: grey;
      }

      a {
        color: grey;
      }

      .glyphicon {
        color: grey;
      }
    }
  }
}
