.member-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin: 10px 0;

  @media(max-width: $screen-lg-min) {
    display: block;
  }
}

.member-card__wrapper {
  width: 48%;

  @media (max-width: $screen-lg-min) {
    width: 100%;
  }
}

.member-card {
  & {
    width: 100%;
    max-width: 600px;
    min-height: 178px;
    background-color: white;
    box-shadow: 0 0 3px $palette-grey;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 4px;

    @media(max-width: $screen-lg-min) {
      height: auto;
      margin: 10px 0;
    }
  }

  &__header {
    & {
      display: flex;
      background-color: $palette-dark-turkey;
      padding: 10px 20px;
      border-radius: 4px 4px 0 0;
    }

    &__avatar {
      margin-right: 20px;
    }

    &__text {
      h4 {
        & {
          margin: 4px 0 6px;
        }

        a {
          color: white;
          font-size: 18px;
        }
      }

      &__activity {
        font-size: 14px;
        color: #78adb9;
        font-size: 12px;
      }
    }
  }

  &__body {
    & {
      padding: 16px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__description {
      margin-bottom: 10px;
      color: #666;
      font-size: 15px;

      @media(max-width: $screen-sm-min) {
        height: auto;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;

      @media(max-width: $screen-sm-min) {
        display: block;
        margin-bottom: 2px;
      }
    }

    &__item {
      margin-right: 20px;
      font-size: 14px;
      color: gray;
      overflow-wrap: break-word;
      white-space: normal;

      a {
        color: grey;
      }

      .glyphicon {
        color: grey;
      }
    }
  }
}
